DATABASE_URL="postgresql://postgres:[Jedna1Dva2Tri3,]@db.olsrkwewluugbtvymbhr.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[Jedna1Dva2Tri3,]@db.olsrkwewluugbtvymbhr.supabase.co:5432/postgres"
